.App {
  text-align: center;
}
.App-header {
  background-color: #fe1644;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.Containers, .Peliculas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5vmin;
}

.Containers {
  font-size: calc(5px + 2vmin);
}

.Cartelera, .Form, .List {
  margin-top: 50px;
}

.Peliculas {
  min-width: 40vw;
  min-height: 45vh;
  background-color: #e2dfdf;
  border-radius: 10px;
}

.Descripcion, .Poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Poster {
  pointer-events: none;
  min-width: 15vw;
}

.Descripcion {
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 22vw;
  font-size: calc(5px + 2vmin);
}

.Horarios, .Ticket {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Horarios {
  flex-direction: row;
}

.Ticket2 {
  text-align: center;
  flex-direction: column;
  min-height: 60vmin;
  flex-wrap: wrap;
  margin-top: 11vmin;
  font-size: calc(8px + 2vmin);
  min-width: 40vw;
  min-height: 45vh;
}

.App-logo {
 
  height: 25vmin;
  pointer-events: none;
}